In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('application_train.csv')

In [21]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,2.0,2.0,2.0,-1134.0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,-815.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.0,2.0,0.0,-617.0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,-1106.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
for col in df.columns: 
    print(col)

SK_ID_CURR
TARGET
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
OWN_CAR_AGE
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
OCCUPATION_TYPE
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_1
EXT_SOURCE_2
EXT_SOURCE_3
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
FONDKAPREMONT_MODE
HOUSETYPE_MODE
TOTALAREA_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR

In [16]:
df = df[df.columns.drop(list(df.filter(regex='FLAG_DOCUMENT_')))]

In [22]:
def get_missing_data(df):
    total = df.isnull().sum().sort_values(ascending = False)
    percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)
    percent = round(percent,2)
    missing_df  = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    print( missing_df.head(102))
    return None

In [41]:
get_missing_data(df)

                               Total  Percent
FLOORSMAX_AVG                 153020    49.76
FLOORSMAX_MODE                153020    49.76
FLOORSMAX_MEDI                153020    49.76
YEARS_BEGINEXPLUATATION_AVG   150007    48.78
YEARS_BEGINEXPLUATATION_MODE  150007    48.78
YEARS_BEGINEXPLUATATION_MEDI  150007    48.78
TOTALAREA_MODE                148431    48.27
EMERGENCYSTATE_MODE           145755    47.40
OCCUPATION_TYPE                96391    31.35
EXT_SOURCE_3                   60965    19.83
AMT_REQ_CREDIT_BUREAU_YEAR     41519    13.50
AMT_REQ_CREDIT_BUREAU_QRT      41519    13.50
AMT_REQ_CREDIT_BUREAU_HOUR     41519    13.50
AMT_REQ_CREDIT_BUREAU_DAY      41519    13.50
AMT_REQ_CREDIT_BUREAU_WEEK     41519    13.50
AMT_REQ_CREDIT_BUREAU_MON      41519    13.50
NAME_TYPE_SUITE                 1292     0.42
DEF_30_CNT_SOCIAL_CIRCLE        1021     0.33
OBS_60_CNT_SOCIAL_CIRCLE        1021     0.33
DEF_60_CNT_SOCIAL_CIRCLE        1021     0.33
OBS_30_CNT_SOCIAL_CIRCLE        1021     0.33
EXT_SOURCE_2                     660     0.21
AMT_GOODS_PRICE                  278     0.09
AMT_ANNUITY                       12     0.00
CNT_FAM_MEMBERS                    2     0.00
DAYS_LAST_PHONE_CHANGE             1     0.00
REGION_POPULATION_RELATIVE         0     0.00
NAME_HOUSING_TYPE                  0     0.00
NAME_FAMILY_STATUS                 0     0.00
NAME_EDUCATION_TYPE                0     0.00
...                              ...      ...
DAYS_EMPLOYED                      0     0.00
NAME_CONTRACT_TYPE                 0     0.00
CODE_GENDER                        0     0.00
TARGET                             0     0.00
AMT_CREDIT                         0     0.00
AMT_INCOME_TOTAL                   0     0.00
CNT_CHILDREN                       0     0.00
FLAG_OWN_REALTY                    0     0.00
FLAG_OWN_CAR                       0     0.00
DAYS_BIRTH                         0     0.00
REGION_RATING_CLIENT_W_CITY        0     0.00
DAYS_REGISTRATION                  0     0.00
HOUR_APPR_PROCESS_START            0     0.00
ORGANIZATION_TYPE                  0     0.00
LIVE_CITY_NOT_WORK_CITY            0     0.00
REG_CITY_NOT_WORK_CITY             0     0.00
REG_CITY_NOT_LIVE_CITY             0     0.00
LIVE_REGION_NOT_WORK_REGION        0     0.00
REG_REGION_NOT_WORK_REGION         0     0.00
REG_REGION_NOT_LIVE_REGION         0     0.00
WEEKDAY_APPR_PROCESS_START         0     0.00
DAYS_ID_PUBLISH                    0     0.00
REGION_RATING_CLIENT               0     0.00
FLAG_EMAIL                         0     0.00
FLAG_PHONE                         0     0.00
FLAG_CONT_MOBILE                   0     0.00
FLAG_WORK_PHONE                    0     0.00
FLAG_EMP_PHONE                     0     0.00
FLAG_MOBIL                         0     0.00
SK_ID_CURR                         0     0.00

[61 rows x 2 columns]

In [40]:
#over 50% of missing data we clean it, can't be used 
df = df[df.columns.drop(list(df.filter(regex='APARTMENTS_')))]
df = df[df.columns.drop(list(df.filter(regex='WALLSMATERIAL_')))]
df = df[df.columns.drop(list(df.filter(regex='ELEVATORS_')))]
df = df[df.columns.drop(list(df.filter(regex='NONLIVINGAREA_')))]
df = df[df.columns.drop(list(df.filter(regex='ENTRANCES_')))]
df = df[df.columns.drop(list(df.filter(regex='FLOORSMIN_')))]
df = df[df.columns.drop(list(df.filter(regex='YEARS_BUILD_')))]
df = df[df.columns.drop(list(df.filter(regex='FONDKAPREMONT_')))]
df = df[df.columns.drop(list(df.filter(regex='OWN_CAR_AGE')))]
df = df[df.columns.drop(list(df.filter(regex='HOUSETYPE_MODE ')))]
df = df[df.columns.drop(list(df.filter(regex='EXT_SOURCE_1')))]
df = df[df.columns.drop(list(df.filter(regex='HOUSETYPE_MODE')))]

In [46]:
correlations = df.corr()['TARGET'].sort_values()

In [48]:
print('Most Positive Correlations:\n', correlations.tail(15))
print('\nMost Negative Correlations:\n', correlations.head(15))

Most Positive Correlations:
 AMT_REQ_CREDIT_BUREAU_YEAR     0.019930
FLAG_WORK_PHONE                0.028524
DEF_60_CNT_SOCIAL_CIRCLE       0.031276
DEF_30_CNT_SOCIAL_CIRCLE       0.032248
LIVE_CITY_NOT_WORK_CITY        0.032518
DAYS_REGISTRATION              0.041975
REG_CITY_NOT_LIVE_CITY         0.044395
FLAG_EMP_PHONE                 0.045982
REG_CITY_NOT_WORK_CITY         0.050994
DAYS_ID_PUBLISH                0.051457
DAYS_LAST_PHONE_CHANGE         0.055218
REGION_RATING_CLIENT           0.058899
REGION_RATING_CLIENT_W_CITY    0.060893
DAYS_BIRTH                     0.078239
TARGET                         1.000000
Name: TARGET, dtype: float64

Most Negative Correlations:
 EXT_SOURCE_3                   -0.178919
EXT_SOURCE_2                   -0.160472
DAYS_EMPLOYED                  -0.044932
FLOORSMAX_AVG                  -0.044003
FLOORSMAX_MEDI                 -0.043768
FLOORSMAX_MODE                 -0.043226
AMT_GOODS_PRICE                -0.039645
REGION_POPULATION_RELATIVE     -0.037227
TOTALAREA_MODE                 -0.032596
AMT_CREDIT                     -0.030369
HOUR_APPR_PROCESS_START        -0.024166
FLAG_PHONE                     -0.023806
AMT_ANNUITY                    -0.012817
AMT_REQ_CREDIT_BUREAU_MON      -0.012462
YEARS_BEGINEXPLUATATION_MEDI   -0.009993
Name: TARGET, dtype: float64

In [49]:
#Let's use the 10 features that has the most correlation with the target 

df1 = df[['DAYS_BIRTH', 'REGION_RATING_CLIENT_W_CITY', 'REGION_RATING_CLIENT', 'DAYS_LAST_PHONE_CHANGE', 'DAYS_ID_PUBLISH', 'REG_CITY_NOT_WORK_CITY', 'FLAG_EMP_PHONE', 'REG_CITY_NOT_LIVE_CITY', 'DAYS_REGISTRATION', 'LIVE_CITY_NOT_WORK_CITY']]

In [53]:
df1.head()

,DAYS_BIRTH,REGION_RATING_CLIENT_W_CITY,REGION_RATING_CLIENT,DAYS_LAST_PHONE_CHANGE,DAYS_ID_PUBLISH,REG_CITY_NOT_WORK_CITY,FLAG_EMP_PHONE,REG_CITY_NOT_LIVE_CITY,DAYS_REGISTRATION,LIVE_CITY_NOT_WORK_CITY
0,-9461,2,2,-1134.0,-2120,0,1,0,-3648.0,0
1,-16765,1,1,-828.0,-291,0,1,0,-1186.0,0
2,-19046,2,2,-815.0,-2531,0,1,0,-4260.0,0
3,-19005,2,2,-617.0,-2437,0,1,0,-9833.0,0
4,-19932,2,2,-1106.0,-3458,1,1,0,-4311.0,1

In [52]:
#We now have cleaned data let's try to train our models : Xgboost, Random Forest and Gradient Boosting

In [56]:
#Random Forest : 

#Prepare data
X = df1.iloc[:, 0:8].values
y = df1.iloc[:, 9].values

In [57]:
#feature scaling 

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X = sc.fit_transform(X)

In [59]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X, y)
#y_pred = regressor.predict(X_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').