In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('application_train.csv')
dftest = pd.read_csv('application_test.csv')

In [3]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
for col in df.columns: 
    print(col)

SK_ID_CURR
TARGET
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
OWN_CAR_AGE
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
OCCUPATION_TYPE
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_1
EXT_SOURCE_2
EXT_SOURCE_3
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
FONDKAPREMONT_MODE
HOUSETYPE_MODE
TOTALAREA_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR

In [5]:
df = df[df.columns.drop(list(df.filter(regex='FLAG_DOCUMENT_')))]

In [6]:
def get_missing_data(df):
    total = df.isnull().sum().sort_values(ascending = False)
    percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)
    percent = round(percent,2)
    missing_df  = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    print( missing_df.head(102))
    return None

In [7]:
get_missing_data(df)

                           Total  Percent
COMMONAREA_MEDI           214865    69.87
COMMONAREA_AVG            214865    69.87
COMMONAREA_MODE           214865    69.87
NONLIVINGAPARTMENTS_MODE  213514    69.43
NONLIVINGAPARTMENTS_AVG   213514    69.43
...                          ...      ...
FLAG_PHONE                     0     0.00
FLAG_CONT_MOBILE               0     0.00
FLAG_EMP_PHONE                 0     0.00
FLAG_MOBIL                     0     0.00
SK_ID_CURR                     0     0.00

[102 rows x 2 columns]

In [8]:
#over 50% of missing data we clean it, can't be used 
df = df[df.columns.drop(list(df.filter(regex='APARTMENTS_')))]
df = df[df.columns.drop(list(df.filter(regex='WALLSMATERIAL_')))]
df = df[df.columns.drop(list(df.filter(regex='ELEVATORS_')))]
df = df[df.columns.drop(list(df.filter(regex='NONLIVINGAREA_')))]
df = df[df.columns.drop(list(df.filter(regex='ENTRANCES_')))]
df = df[df.columns.drop(list(df.filter(regex='FLOORSMIN_')))]
df = df[df.columns.drop(list(df.filter(regex='YEARS_BUILD_')))]
df = df[df.columns.drop(list(df.filter(regex='FONDKAPREMONT_')))]
df = df[df.columns.drop(list(df.filter(regex='OWN_CAR_AGE')))]
df = df[df.columns.drop(list(df.filter(regex='HOUSETYPE_MODE ')))]
df = df[df.columns.drop(list(df.filter(regex='EXT_SOURCE_1')))]
df = df[df.columns.drop(list(df.filter(regex='HOUSETYPE_MODE')))]

In [9]:
correlations = df.corr()['TARGET'].sort_values()

In [10]:
print('Most Positive Correlations:\n', correlations.tail(15))
print('\nMost Negative Correlations:\n', correlations.head(15))

Most Positive Correlations:
 AMT_REQ_CREDIT_BUREAU_YEAR     0.019930
FLAG_WORK_PHONE                0.028524
DEF_60_CNT_SOCIAL_CIRCLE       0.031276
DEF_30_CNT_SOCIAL_CIRCLE       0.032248
LIVE_CITY_NOT_WORK_CITY        0.032518
DAYS_REGISTRATION              0.041975
REG_CITY_NOT_LIVE_CITY         0.044395
FLAG_EMP_PHONE                 0.045982
REG_CITY_NOT_WORK_CITY         0.050994
DAYS_ID_PUBLISH                0.051457
DAYS_LAST_PHONE_CHANGE         0.055218
REGION_RATING_CLIENT           0.058899
REGION_RATING_CLIENT_W_CITY    0.060893
DAYS_BIRTH                     0.078239
TARGET                         1.000000
Name: TARGET, dtype: float64

Most Negative Correlations:
 EXT_SOURCE_3                 -0.178919
EXT_SOURCE_2                 -0.160472
DAYS_EMPLOYED                -0.044932
FLOORSMAX_AVG                -0.044003
FLOORSMAX_MEDI               -0.043768
FLOORSMAX_MODE               -0.043226
AMT_GOODS_PRICE              -0.039645
REGION_POPULATION_RELATIVE   -0.037227
LIVINGAREA_AVG               -0.032997
LIVINGAREA_MEDI              -0.032739
TOTALAREA_MODE               -0.032596
LIVINGAREA_MODE              -0.030685
AMT_CREDIT                   -0.030369
HOUR_APPR_PROCESS_START      -0.024166
FLAG_PHONE                   -0.023806
Name: TARGET, dtype: float64

In [11]:
#Let's use the 10 features that has the most correlation with the target 

df1 = df[['DAYS_BIRTH', 'REGION_RATING_CLIENT_W_CITY', 'REGION_RATING_CLIENT', 'DAYS_LAST_PHONE_CHANGE', 'DAYS_ID_PUBLISH', 'REG_CITY_NOT_WORK_CITY', 'FLAG_EMP_PHONE', 'REG_CITY_NOT_LIVE_CITY', 'DAYS_REGISTRATION', 'LIVE_CITY_NOT_WORK_CITY']]

In [12]:
df1.head()

,DAYS_BIRTH,REGION_RATING_CLIENT_W_CITY,REGION_RATING_CLIENT,DAYS_LAST_PHONE_CHANGE,DAYS_ID_PUBLISH,REG_CITY_NOT_WORK_CITY,FLAG_EMP_PHONE,REG_CITY_NOT_LIVE_CITY,DAYS_REGISTRATION,LIVE_CITY_NOT_WORK_CITY
0,-9461,2,2,-1134.0,-2120,0,1,0,-3648.0,0
1,-16765,1,1,-828.0,-291,0,1,0,-1186.0,0
2,-19046,2,2,-815.0,-2531,0,1,0,-4260.0,0
3,-19005,2,2,-617.0,-2437,0,1,0,-9833.0,0
4,-19932,2,2,-1106.0,-3458,1,1,0,-4311.0,1

In [13]:
#We now have cleaned data let's try to train our models : Xgboost, Random Forest and Gradient Boosting

In [14]:
#Clean the data by replacing NaN with zero
df2 = np.nan_to_num(df1)

In [15]:
#Random Forest : 

#Prepare data
#X = df2.iloc[:, 0:8].values
#y = df2.iloc[:, 9].values
X = df2[:, 0:8]
y = df2[:, 9]

In [16]:
#feature scaling 

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X = sc.fit_transform(X)

In [99]:
# let's create test and validation set 

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
#Gradient boosting 
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier
#Xgboost
from xgboost import XGBClassifier

X_trains, X_tests, y_trains, y_tests = train_test_split(X, y, test_size=0.2, random_state=0)

In [66]:
#evaluation the model 
from sklearn import metrics
import mlflow
import mlflow.sklearn

def eval_metrics(actual, pred):
    rmse = np.sqrt(metrics.mean_squared_error(actual, pred))
    mae = metrics.mean_absolute_error(actual, pred)
    r2 = metrics.r2_score(actual, pred)
    return rmse, mae, r2

## Random Forest

In [111]:
def train(model,estim, rand, **kwargs):  
    with mlflow.start_run():
    
        lr = kwargs['lr']
        mf = kwargs['mf']
        dep = kwargs['dep']
        
        ##RANDOM FOREST
    
        if model == RandomForestRegressor:
            
            regressor = model(n_estimators=estim, random_state=rand)
            regressor.fit(X_trains, y_trains)
            y_pred = regressor.predict(X_tests)
        
            print("Elasticnet model (n_estimators=%f, random_state=%f):" % (estim, rand))
            m = regressor
                        
        ## GRADIENT BOOSTING 
            
        elif model == GradientBoostingClassifier:
            #evaluation of the model with the right learning rate 
          
            
            gb_clf2 = model(n_estimators=estim, learning_rate= lr, max_features=mf, max_depth=dep, random_state=rand)
            gb_clf2.fit(X_trains, y_trains)
            predictions = gb_clf2.predict(X_tests)
            
         # print("Confusion Matrix:")
         # print(confusion_matrix(y_tests, predictions))
         # print("Classification Report")
         # print(classification_report(y_tests, predictions))
            y_pred = gb_clf2.predict(X_tests)
            m = gb_clf2
            mlflow.log_param("max features", mf)
            mlflow.log_param("max depth", rand)
            mlflow.log_param("learning rate", lr)
        
        
        ## XG BOOST 
        
        elif model == XGBClassifier:
            
            
            #Training model 
            xgb_clf = model(n_estimators = estim ,random_state = rand, learning_rate = lr, max_depth = dep, max_features = mf)
            xgb_clf.fit(X_trains, y_trains)
            y_pred = xgb_clf.predict(X_tests)
            m = xgb_clf
        
        
            
        (rmse, mae, r2) = eval_metrics(y_tests, y_pred)
        # Print out metrics
        print('Mean Absolute Error:', rmse)
        print('Mean Squared Error:', mae)
        print('Root Mean Squared Error:', r2)
        # Log parameter, metrics, and model to MLflow
        mlflow.log_param("n_estimators", estim)
        mlflow.log_param("random state", rand)
        mlflow.log_metric("rmse", rmse)
        mlflow.log_metric("r2", r2)
        mlflow.log_metric("mae", mae)
        
        
        mlflow.sklearn.log_model(m, "model")

In [112]:
train(XGBClassifier,20,0,lr=0.5, mf = 2 , dep = 2)

[09:12:17] WARNING: ../src/learner.cc:516:
Parameters: { max_features } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


Mean Absolute Error: 0.11941301025377866
Mean Squared Error: 0.014259467017869048
Root Mean Squared Error: 0.9031413939746537

In [96]:
#!mlflow ui

[2020-10-26 08:57:56 +0100] [6514] [INFO] Starting gunicorn 20.0.4
[2020-10-26 08:57:56 +0100] [6514] [INFO] Listening at: http://127.0.0.1:5000 (6514)
[2020-10-26 08:57:56 +0100] [6514] [INFO] Using worker: sync
[2020-10-26 08:57:56 +0100] [6519] [INFO] Booting worker with pid: 6519
^C
[2020-10-26 09:07:39 +0100] [6514] [INFO] Handling signal: int
[2020-10-26 09:07:39 +0100] [6519] [INFO] Worker exiting (pid: 6519)

In [46]:
dftest = df[df.columns.drop(list(df.filter(regex='FLAG_DOCUMENT_')))]
dftest = df[df.columns.drop(list(df.filter(regex='APARTMENTS_')))]
dftest = df[df.columns.drop(list(df.filter(regex='WALLSMATERIAL_')))]
dftest = df[df.columns.drop(list(df.filter(regex='ELEVATORS_')))]
dftest = df[df.columns.drop(list(df.filter(regex='NONLIVINGAREA_')))]
dftest = df[df.columns.drop(list(df.filter(regex='ENTRANCES_')))]
dftest = df[df.columns.drop(list(df.filter(regex='FLOORSMIN_')))]
dftest = df[df.columns.drop(list(df.filter(regex='YEARS_BUILD_')))]
dftest = df[df.columns.drop(list(df.filter(regex='OWN_CAR_AGE')))]
dftest = df[df.columns.drop(list(df.filter(regex='HOUSETYPE_MODE ')))]
dftest = df[df.columns.drop(list(df.filter(regex='EXT_SOURCE_1')))]
dftest = df[df.columns.drop(list(df.filter(regex='HOUSETYPE_MODE')))]

In [47]:
dftest1 = df[['DAYS_BIRTH', 'REGION_RATING_CLIENT_W_CITY', 'REGION_RATING_CLIENT', 'DAYS_LAST_PHONE_CHANGE', 'DAYS_ID_PUBLISH', 'REG_CITY_NOT_WORK_CITY', 'FLAG_EMP_PHONE', 'REG_CITY_NOT_LIVE_CITY', 'DAYS_REGISTRATION', 'LIVE_CITY_NOT_WORK_CITY']]
dftest2 = np.nan_to_num(dftest1)

In [48]:
X_test = df2[:, 0:8]
y_test = df2[:, 9]

In [49]:
#prediction 
y_pred = regressor.predict(X_tests)

In [ ]:
#We have low error value, great model

In [ ]:
#let's choose a learning rate and train the model 
#lr_list = [0.05, 0.075, 0.1, 0.25, 0.5, 0.75, 1]

#for learning_rate in lr_list:
    #gb_clf = GradientBoostingClassifier(n_estimators=20, learning_rate=learning_rate, max_features=2, max_depth=2, random_state=0)
    #gb_clf.fit(X, y)

   # print("Learning rate: ", learning_rate)
    #print("Accuracy score (training): {0:.3f}".format(gb_clf.score(X_trains, y_trains)))
   # print("Accuracy score (validation): {0:.3f}".format(gb_clf.score(X_tests, y_tests)))

In [113]:
# XAI with SHAP Method
import shap
shap_values = shap.TreeExplainer(xgb_clf).shap_values(X)
shap.summary_plot(shap_values, X, plot_type="bar")

NameError: name 'xgb_clf' is not defined

In [ ]:
shap_values

In [ ]:
#summary plot 
shap.summary_plot(shap_values, X)